<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YOUR_REVERSED_CLIENT_ID</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>5dfde38b0ada26ea098707572529159a</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 지도에 표시하기 위해 위치 정보 접근 권한이 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>앱이 백그라운드에 있을 때도 위치 정보를 사용하기 위해 권한이 필요합니다.</string>
	<key>NFCReaderUsageDescription</key>
	<string>가게 스탬프 등록 및 적립을 위해 NFC 기능이 필요합니다.</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>